
# OPENAI and PINECONE API Keys
export OPENAI_API_KEY="OPEN_API_KEY"
export PINECONE_ENVIRONMENT="PINECONE_ENVIRONMENT"
export PINECONE_API_KEY="PINECONE_API_KEY"

# Gradio server config
export GRADIO_SERVER_NAME="0.0.0.0"
